---
import { getDataEntryById, getEntries, type DataEntryMap } from "astro:content";

interface Props {
    id: keyof DataEntryMap["papers"];
}

const { id } = Astro.props;

const entry = await getDataEntryById("papers", id);
const { title, author, parent, url, doi, artifactUrl } = entry.data;
const authorData = await getEntries(Array.isArray(author) ? author : [author]);

const SELF = "Shreyas Minocha";
---

<li>
    <p class="title"><strong>{title}</strong></p>

    <p>
        {
            authorData
                .map((a) =>
                    a.data.url && a.data.name !== SELF ? (
                        <a href={a.data.url}>{a.data.name}</a>
                    ) : a.data.name === SELF ? (
                        <strong>{a.data.name}</strong>
                    ) : (
                        a.data.name
                    ),
                )
                .flatMap((a) => [a, <>, </>])
                .slice(0, -1)
        }
    </p>

    {
        (
            <p>
                <em>
                    {typeof parent.title === "string"
                        ? `${parent.title}.`
                        : `${parent.title.value} (${parent.title.short}).`}
                </em>
            </p>
        )
    }

    {
        (url || doi || artifactUrl) && (
            <ul class="supplementary">
                {url && (
                    <li>
                        <a href={url}>Paper</a>
                    </li>
                )}
                {artifactUrl && (
                    <li>
                        <a href={artifactUrl}>Artifact</a>
                    </li>
                )}
                {doi && (
                    <li>
                        <a href={`https://doi.org/${doi}`}>{doi}</a>
                    </li>
                )}
            </ul>
        )
    }

    <style>
        p {
            margin-bottom: 0.25em;
        }

        p:not(.title),
        .supplementary li {
            font-size: 90%;
        }

        .supplementary {
            list-style: none;
            padding-left: 0;
        }

        .supplementary li {
            display: inline;
        }

        .supplementary li::after {
            content: "—";
        }
        .supplementary li:last-child::after {
            content: none;
        }
    </style>
</li>
