---
import renderInlineMarkdown from "@util/render-inline-md.ts";
import type { JsxElement } from "typescript";

interface Props {
    src?: string;
    alt?: string; // todo: make this mandatory
    caption?: string | JsxElement;
    // todo: make the attribution stuff a child?
    attribution?: string;
    attributionLink?: string;
    width?: number;
    height?: number;
}

const { src, alt, caption, attribution, attributionLink, width, height } =
    Astro.props;

const captionText =
    typeof caption === "string" ? await renderInlineMarkdown(caption) : null;
---

<figure>
    {
        src ? (
            <img
                {src}
                alt={
                    alt ||
                    (typeof caption === "string" ? caption : null) ||
                    "Missing alt text, sorry"
                }
                width={width?.toString()}
                height={height?.toString()}
            />
        ) : (
            <slot />
        )
    }

    <figcaption>
        {
            (caption || attribution) && (
                <>
                    <p>
                        {caption &&
                            (typeof caption === "string" ? (
                                captionText
                            ) : (
                                <>{caption}</>
                            ))}
                    </p>

                    {attribution && (
                        <p>
                            <small class="attribution">
                                Source:
                                {attributionLink ? (
                                    <a
                                        href={attributionLink}
                                        rel="nofollow noreferrer"
                                    >
                                        {attribution}
                                    </a>
                                ) : (
                                    attribution
                                )}
                            </small>
                        </p>
                    )}
                </>
            )
        }
    </figcaption>
</figure>
